<!doctype html><!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Single Event Page</title>
      <meta name="description" content="form to add new books">
      <meta name="author" content="Mark Tyers">
      <script src="https://kit.fontawesome.com/1dca77ecd5.js"></script>
      <link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
   </head>
   <body>
      <header>
         <h1>Single Events Page</h1>
         <a href="/logout">Log out</a>
      </header>
      {{#if msg}}
      <p class="msg">{{msg}}</p>
      {{/if}}
      <main>
         <section class="AllEventsSection">
            <section class="EventsSectionWrapper">
               <div class="SingleEvent">								 
                  <label class="SingleEventlabel" style="font-size: xx-large;">{{EventData.EventTitle}}</label>
                  <label class="SingleEventlabel" style="margin:20px 0px;">{{EventData.EventsDescription}}</label>
                  <label class="SingleEventlabel" >{{EventData.EventDate}}</label>
                  <img style="width: 40em;margin:15px 0px;" src="/{{EventData.EventImage}}">									  
               </div>
               <div class="SingleEvent">
                  {{#each ItemData}}
								 <div class="ItemSectionWrapper">
									<label class="SingleEventlabel">{{this.ItemName}}</label>
                  <label class="SingleEventlabel">{{this.ItemPrice}}</label>
                  <label class="SingleEventlabel">{{this.ItemLink}}</label>
                  <input type="checkbox" name="ItemPledged"  {{this.ItemPledged}}>
									 
								 </div>

                  {{/each}}
               </div>
            </section>
         </section>
      </main>
   </body>
</html>